<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1986785092914105",
    enable_page_level_ads: true
  });
</script>

<!-- 광고 -->
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!-- github-page -->
<!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1986785092914105"
     data-ad-slot="1423402089"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
